---
title: "Project Proposal"
format: 
  html:
    toc: true
    toc-title: Contents
    code-fold: show
    embed-resources: true
jupyter: python3
---

### 1) Name

Ryan Shen

### 2) Project Topic/Title

Chicago Crash Correlations with Climate Conditions

### 3) Inspiration

Explain the reason for your choice of data. Why is it interesting to you? Why do you think it is worth exploring for this project? Include any motivations or background that you believe is relevant. **(0.5 points)**

Having personally witnessed a large car crash last summer, I became quite personally invested in trying to understand the circumstances surrounding car crashes in Chicago, such as the speed of the vehicles involved, the general location, and the weather conditions surrounding the crash. Car crashes are also the leading cause of death for young people below the age of 22 and the 2nd most common cause of death for people from ages 22 to 67. Analysis of this data could provide guidelines that lower car crashes, which I would greatly desire.

### 4)  Data 

- Identify and and describe your data source(s). **Share any related links and/or citations**.
- **Using some code**, demonstrate that you have been able to read the data. Along with this, give a brief overview of the data:
    - How many observations?
    - How many variables? How many of them are numeric and how many of them are categorical? (Remember that not all non-numeric variables are categorical!)
    - Is there any missing values? Will cleaning/imputing be necessary?

**(2 points)**

Source 1: https://data.cityofchicago.org/Transportation/Traffic-Crashes-Crashes/85ca-t3if/about_data

Source 2: https://www.wunderground.com/history/daily/us/il/chicago/KMDW (datascraped by me; script using for scraping available on request)

(I asked Prof. Besler if I could combine some of the weather data as I scraped into the crash data as a supplementary factor and he approved of my plan.)

There are approximately 1.008 million observations in the crash data. 

18 of the variables are numeric (I'm including date counts as numeric as I plan to ask questions about crashes over time), and the remaining 30 variables are categorical. 

Some data like injuries and the location/latitude/longitude have missing values from the dataset; those rows will have to be cleaned out, as imputation is not possible.

There are 233,414 observations in the weather data. 
9 of the variables are numeric and 2 are categorical. This is less than 10 numeric variables, but since this is supplementary data that is meant to be added onto the crash data set, combined with the crash data variables it will be more than 10 in total.

There are some missing hours from the dataset, which means I will have to impute values from adjacent days at a similar time.

In [22]:
import pandas as pd
weather = pd.read_csv('KMDW.csv')
weather.describe(include='all')

,Date,Time,Temperature_C,Dew_Point_C,Humidity_%,Wind Direction,Speed in km/h,Gust km/h,Pressure in hPa,Precipitation Rate in mm,Condition
count,233414,233414,233414.000000,233414.000000,233414.000000,233346,233414.00000,233414.000000,233414.000000,233414.000000,233404
unique,8978,1369,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,69
top,2017-10-14,11:53 PM,NaN,NaN,NaN,W,NaN,NaN,NaN,NaN,Cloudy
freq,48,5861,NaN,NaN,NaN,22951,NaN,NaN,NaN,NaN,77070
mean,NaN,NaN,11.223014,4.440814,66.773831,NaN,16.03798,7.798085,993.521089,0.108482,NaN
std,NaN,NaN,11.268999,10.704576,17.323740,NaN,8.51113,16.631139,13.774797,0.901997,NaN
min,NaN,NaN,-29.440000,-35.560000,0.000000,NaN,0.00000,0.000000,0.000000,0.000000,NaN
25%,NaN,NaN,2.220000,-3.330000,54.000000,NaN,11.26000,0.000000,989.160000,0.000000,NaN
50%,NaN,NaN,11.670000,5.000000,68.000000,NaN,14.48000,0.000000,993.570000,0.000000,NaN
75%,NaN,NaN,21.110000,13.330000,80.000000,NaN,20.92000,0.000000,998.310000,0.000000,NaN
max,NaN,NaN,40.000000,26.110000,100.000000,NaN,653.25000,120.670000,1022.690000,50.800000,NaN

In [21]:
weather.head()

,Date,Time,Temperature_C,Dew_Point_C,Humidity_%,Wind Direction,Speed in km/h,Gust km/h,Pressure in hPa,Precipitation Rate in mm,Condition
0,2000-01-24,12:53 AM,-15.00,-20.00,66.0,WNW,14.48,0.0,1001.69,0.0,Fair
1,2000-01-24,01:53 AM,-15.56,-20.00,70.0,WNW,11.26,0.0,1001.69,0.0,Fair
2,2000-01-24,02:53 AM,-16.11,-20.00,73.0,WNW,9.65,0.0,1002.03,0.0,Fair
3,2000-01-24,03:53 AM,-16.67,-20.00,76.0,WNW,14.48,0.0,1002.37,0.0,Fair
4,2000-01-24,04:53 AM,-16.67,-20.56,72.0,WNW,11.26,0.0,1002.71,0.0,Fair

In [23]:
crash = pd.read_csv('Traffic_Crashes_-_Crashes_20251109.csv')
crash.describe(include='all')

/var/folders/_l/b38cj6s513957kzfnj_20g5m0000gn/T/ipykernel_26355/1088546506.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  crash = pd.read_csv('Traffic_Crashes_-_Crashes_20251109.csv')

,CRASH_RECORD_ID,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
count,1000814,72697,1000814,1.000814e+06,1000814,1000814,1000814,1000814,1000814,1000814,...,998643.000000,998643.000000,998643.000000,998643.0,1.000814e+06,1.000814e+06,1.000814e+06,993245.000000,993245.000000,993245
unique,1000814,2,661201,NaN,19,8,12,6,18,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,341591
top,997792115d42cf0a06981dc63acab07dbb65ec3cc1afcf...,Y,02/06/2025 08:00:00 AM,NaN,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,NOT DIVIDED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-87.905309125103 41.976201139024)
freq,1,63404,37,NaN,563759,570945,788206,643770,230898,428203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1632
mean,NaN,NaN,NaN,2.842345e+01,NaN,NaN,NaN,NaN,NaN,NaN,...,0.109976,0.067554,1.997255,0.0,1.319349e+01,4.120382e+00,6.674962e+00,41.855214,-87.673215,NaN
std,NaN,NaN,NaN,6.053020e+00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.426872,0.335290,1.155519,0.0,5.572903e+00,1.979314e+00,3.364576e+00,0.351909,0.717134,NaN
min,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.0,0.000000e+00,1.000000e+00,1.000000e+00,0.000000,-87.939678,NaN
25%,NaN,NaN,NaN,3.000000e+01,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,1.000000,0.0,9.000000e+00,2.000000e+00,4.000000e+00,41.784021,-87.721791,NaN
50%,NaN,NaN,NaN,3.000000e+01,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,2.000000,0.0,1.400000e+01,4.000000e+00,7.000000e+00,41.875166,-87.674359,NaN
75%,NaN,NaN,NaN,3.000000e+01,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,2.000000,0.0,1.700000e+01,6.000000e+00,1.000000e+01,41.924774,-87.633793,NaN
max,NaN,NaN,NaN,9.900000e+01,NaN,NaN,NaN,NaN,NaN,NaN,...,21.000000,19.000000,61.000000,0.0,2.300000e+01,7.000000e+00,1.200000e+01,42.022780,0.000000,NaN

In [24]:
crash.head()

,CRASH_RECORD_ID,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,997792115d42cf0a06981dc63acab07dbb65ec3cc1afcf...,NaN,11/09/2025 03:28:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,SNOW,"DARKNESS, LIGHTED ROAD",FIXED OBJECT,FOUR WAY,...,1.0,0.0,0.0,0.0,3,1,11,41.877303,-87.701254,POINT (-87.701253788355 41.877302828389)
1,a96af10f9272c97183da517905da458dcf0025b9925867...,NaN,11/09/2025 02:53:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,NOT DIVIDED,...,0.0,0.0,1.0,0.0,2,1,11,41.896992,-87.775061,POINT (-87.775060679353 41.896992239169)
2,31563af4e4fa96c77061cf4e3723716a0961eb6266bf1b...,NaN,11/09/2025 02:04:00 AM,25,TRAFFIC SIGNAL,UNKNOWN,RAIN,"DARKNESS, LIGHTED ROAD",TURNING,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,1.0,3.0,0.0,2,1,11,41.858107,-87.646503,POINT (-87.646502711079 41.858107085534)
3,003883bd9375824b71be65e30bb7519280873e7bf378f5...,NaN,11/09/2025 02:00:00 AM,25,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,RAIN,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,ONE-WAY,...,0.0,0.0,2.0,0.0,2,1,11,41.894890,-87.629872,POINT (-87.629871903472 41.894890470685)
4,0cbecb09d445225d0995a98c4dc668001c18a538dc6e54...,NaN,11/09/2025 01:55:00 AM,20,NO CONTROLS,NO CONTROLS,RAIN,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,ONE-WAY,...,0.0,0.0,1.0,0.0,1,1,11,41.855284,-87.708129,POINT (-87.708128782429 41.855284220228)

### 5) Questions

- What are the questions to be answered in the report? **You should have at least two and at most four questions.**
- For each question, briefly mention your plan to analyze the data and to answer the question. 

**(2 points)**

1. Are there any locations in Chicago where crash occurrences congregate, and have these areas changed over time? I plan to plot out the latitude and longitude of each crash on a heatmap and observe which areas in the city have experienced the most crashes, during specific time periods.

2. How do weather conditions and posted speed limits correlate to deadlier injuries in a crash or higher numbers of traffic accidents? I plan to use pairwise correlation to track the relationship between variables such as posted speed limits, precipitation levels, wind speeds and temperature with variables such as the rate of injuries and the amount of crashes during certain conditions (for example, the number of crashes for each level of precipitation). I plan to visualize this data with pairplots and histograms for each relevant relationship.

3. Have crashes in Chicago became more frequent/deadlier, and which seasons within Chicago experiences the most crashes and the deadliest crashes? I plan to group crashes in Chicago by the time they occur and observe the crash counts and the injury rates of each timespan, and visualize this data using a line graph.

### 6) Stakeholders

Who would be the stakeholders of this project, i.e. who would be interested in hearing your results and how would the result benefit them? **(0.5 points)**

The stakeholders of this project would include anyone who drives a motor vehicle daily in Chicago; even perfect drivers might become involved in collision due to the actions of another driver or become delayed in traffic as a result of a crash. as well as the city officials of Chicago who have to decide where to post traffic police, speed cameras, and speed limit signs, as well as determine what those speed limits should be. Additionally this data can help tourists decide when the safest times to visit Chicago are.